@import "system.styl"

.pagesNotFound
  text-align center
  margin auto

  .Ku
    display inline-block
    margin auto

  img
    padding 100px 0 0 0
    width 500px
    height 500px

  .output
    width 350px
    margin auto

  a
    color default_color
    text-decoration none
    cursor pointer
    font-size 32px
    font-weight bold
    margin 10px

  a:hover
    color primary_color

  .ku-animation-enter-active
    animation ku-animation .5s
  .ku-animation-leave-active
    animation ku-animation .5s reverse

    @keyframes ku-animation
      0%
        transform scale(0)
      50%
        transform scale(1.5)
      100%
        transform scale(1)