@import "system.styl"

.index
  text-align center
  margin auto

  img
    padding 100px 0 0 0
    width 500px
    height 500px

  .input
    width 150px
    margin auto

  a
    color default_color
    text-decoration none

  a:hover
    color primary_color