@import "system.styl"

.topMenu
  position fixed
  z-index 600
  top 0
  left 0
  right 0
  background-color secondary_color
  display grid
  grid-template-columns 70px 1fr 90px
  grid-template-rows 70px
  align-items center
  justify-content start

img
  width 60px
  height 60px
  vertical-align middle

a
  text-decoration none
  color default_color
  margin-left 20px

a:hover
  color antiquewhite
  cursor pointer