.topMenu {
  position: fixed;
  z-index: 600;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #eb5424;
  display: grid;
  grid-template-columns: 70px 1fr 90px;
  grid-template-row: 70px;
  align-items: center;
  justify-content: start;
}
.topMenu img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
.topMenu a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}
.topMenu a:hover {
  color: #fff;
  cursor: pointer;
}
